@import "../variables";

/* Basic styles for form section */

.form-section {

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }

    .form-section__inputs {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        max-width: 380px;
        margin: 0 auto 25px;
    }

    .form-section__radio {
        margin: 0 auto;
        max-width: 380px;
        display: flex;
        flex-direction: column;
        gap: 13px;
        margin-bottom: 50px;

        .form-section__radio-btn {
            display: flex;
            align-items: center;

            label {
                color: $black-color;
            }
        }
    }

    .form-section__btn {
        margin: 50px auto 100px;
        display: flex;
        justify-content: center;
    }

}

/* Media queries */

@media (max-width: 360px) {
    form {
        padding: 16px;
    }
}