@import "../../../scss/variables";

/* Common styles for button */

.btn {
    color: $black-color;
    background-color: $primary-color;
    font-size: 1rem;
    line-height: 26px;
    font-weight: 400;
    font-family: 'Nunito';
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 34px;
    border-radius: 80px;
    border: none;
    text-decoration: none;

    &:hover {
        background-color: #FFE302;
    }

    &:disabled {
        background-color: #B4B4B4;
        color: $white-color;
    }
}